@font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf');
  }

  
  .root {
    background: #008080;
    min-height: 100vh;
    font-family: 'MS';
    height: fit-content;
  }
  
  .header {
    padding: 10px 5px 30px 5px;
    height: 10rem;
  }
  
  .overlay-content {
    padding: 1rem;
  }
  
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .footer {
    height: 20rem;
  }