.window {
    border: 2px solid;
    border-bottom-color: #444;
    border-right-color: #444;
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    background-color: #bfbfbf;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    max-height: 95%;
}

.modalHandle {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background:#000080;
    color:#FFF;
    flex: 1;
    max-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalBar {
    height: 90%;
    float: right;
    color: black;
    display: flex;
    align-items: center;
}

.modalBtn {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    border-width: 3px;
    border-style: solid;
    border-bottom-color: #444;
    border-right-color: rgb(51, 42, 42);
    border-left-color: #a6a6a6;
    border-top-color: #a6a6a6;
    background-color: blanchedalmond;
}

.modalBtn:first-child {
    font-size: 0.5rem;
}

// .modalBtn:hover {
//     filter: brightness(50%);
// }

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    flex: 10;
    border-bottom: 1px solid #9D9F9F;
    border-right: 1px solid #9D9F9F;
    border-top: 1px solid white;
    border-left: 1px solid white;
    margin: 20px;
}