@font-face {
  font-family: 'VT323';
  src: url('./assets/fonts/VT323-Regular.ttf');
}

@font-face {
  font-family: 'MS';
  src: url('./assets/fonts/px_sans_nouveaux.ttf');
}

.root {
  background: #008080;
  min-height: 100vh;
  font-family: 'MS';
  height: fit-content;
}

.header {
  height: 25rem;
  padding: 10px 5px 30px 5px;
}

.overlay-content {
  padding: 1rem;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  height: 30rem;
}